<div class="container">
  <img class="home-library-hall" src="../../../assets/img/home-background.jpg" />
  <div class="site-content">

    <p class="home-description">
      Lorem ipsum dolor sit amet, purto sanctus neglegentur cu sit. Eam eu clita admodum, ne dicunt dolorum quo. Vocent percipit pertinacia pro an. Et inimicus consulatu efficiendi vis, eam ad amet recteque constituam.

      At tamquam eligendi mandamus pri, ea vim affert liberavisse signiferumque, an nonumy deserunt constituto duo. Vel homero tritani appareat ne, eleifend antiopam te est. Reque assueverit per ei. Ei nobis euripidis sit.

      Quo in probo detraxit, in aliquid fierent sed, vis ei mucius ridens legendos. An cum harum consul, omnium lucilius has te. Facilis postulant ne per, malorum laoreet posidonium eu has. Alii ceteros mea an, erat nulla option ius ei. Pri rebum maiorum at, ceteros facilisi moderatius te vix, errem nobis essent at eam.
    </p>
    <p class="home-description">
      Lorem ipsum dolor sit amet, purto sanctus neglegentur cu sit. Eam eu clita admodum, ne dicunt dolorum quo. Vocent percipit pertinacia pro an. Et inimicus consulatu efficiendi vis, eam ad amet recteque constituam.

      At tamquam eligendi mandamus pri, ea vim affert liberavisse signiferumque, an nonumy deserunt constituto duo. Vel homero tritani appareat ne, eleifend antiopam te est. Reque assueverit per ei. Ei nobis euripidis sit.

      Quo in probo detraxit, in aliquid fierent sed, vis ei mucius ridens legendos. An cum harum consul, omnium lucilius has te. Facilis postulant ne per, malorum laoreet posidonium eu has. Alii ceteros mea an, erat nulla option ius ei. Pri rebum maiorum at, ceteros facilisi moderatius te vix, errem nobis essent at eam.
    </p>
  </div>
</div>
